@media (max-width: 1600px) and (min-width: 1400px) {
    .cart {
        padding-left: 0;
    }
}

@media (max-width: 1399px) and (min-width: 1200px) {
    .cart {
        padding-left: 0;
    }
}
@media (max-width: 1199px) and (min-width: 992px) {
    .cart {
        padding-left: 0;
    }
    .promo-btn {
        padding: 7px 20px;
    }
    .ns-btn {
        margin-left: -110px;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    .act h5 {
        position: relative;
        top: -55%;
        left: 45px;
    }
    .act i {
        position: relative;
        top: 45%;
        right: 25px;
    }
    .cart {
        position: relative;
        top: 45%;
        right: 35px;
    }
    .m-text h5 {
        position: relative;
        top: 35%;
        left: 30px;
        font-size: 14px;
    }
    .menu-text h4 {
        font-size: 14px;
    }
    .promo-btn {
        padding: 8px 11px;
        font-size: 14px;
    }
    .ns-btn {
        margin-left: -110px;
    }
    .py-3 {
        padding-top: 0rem !important;
        padding-bottom: 2rem !important;
    }
}
@media (max-width: 767px) and (min-width: 576px) {
    .act h5 {
        position: relative;
        top: -55%;
        left: 45px;
    }
    .act i {
        position: relative;
        top: 45%;
        right: 100px;
    }
    .cart {
        position: relative;
        top: 45%;
        right: 100px;
    }
    .m-text h5 {
        position: relative;
        top: -55%;
        left: 45px;
    }
    .menu-text {
        display: none;
    }
}
@media (max-width: 575.98px){
    .act h5 {
        position: relative;
        top: -55%;
        left: 45px;
    }
    .act i {
        position: relative;
        top: 45%;
        right: 100px;
    }
    .cart {
        position: relative;
        top: 45%;
        right: 100px;
    }
    .m-text h5 {
        position: relative;
        top: -55%;
        left: 45px;
    }
    .menu-text {
        display: none;
    }
}