*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}

ul ol{
    list-style-type: none;
}

/*=======================form==============*/
/*======Navbar part css======*/
.navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    color: #EC7A5C!important;
}
.navbar-toggler:focus {
	text-decoration: none;
	outline: 0;
	box-shadow: unset;
}
.navbar-expand-lg .navbar-nav .nav-item{
    padding-left: 20px;
    padding-right: 20px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0px;
    padding-left: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #99A5C1;
    font-weight: 400;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: #EC7A5C;
}
.cart-option {
    width: 85px;
    text-align: right;
    padding-top: 13px;
}
.cart-option ul li i{
    color: #99A5C1;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    font-size: 20px;
}
.cart-option ul li i:hover{
    color: #EC7A5C;
}
.search-optn {
    margin-top: 10px;
}
.dropdown-item {
	padding-right: 26px;
	padding-left: 15px;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: #99A5C1;
	font-weight: 400;
	transition: all linear .3s;
	-webkit-transition: all linear .3s;
	-moz-transition: all linear .3s;
	-ms-transition: all linear .3s;
	-o-transition: all linear .3s;
}
.dropdown-item:hover {
    color: #EC7A5C;
    background-color: #f8f9fa;
}
#search{
    margin-left: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.srch-form{
    position: relative;
    display: inline-block;
    display: flex;
}
.search-box {
	width: 500px;
	padding: 10px 20px;
	position: relative;
	left: 25%;
}
.btn:focus {
    outline: 0;
    box-shadow: unset;
}
.btn{
    width: 100px;
    height: 47px;
    position: absolute;
    background-color: #ec7a5c;
    color: #fff;
    right: 100px;
    top: -1px;
}
.btn:hover {
    background-color: #ec6746;
    color: #fff;
}
.carts{
    font-size: 30px;
    display: flex;
    position: absolute;
    right: 35px;
    top: 4px;
    color: #444;
}
.click_this {
    color: #ec7a5c!important;
}
/*===================================Products=====================*/

#Products{
    background-color: #f1f1f1;
    padding: 50px 20px;
}
.category h3{
    font-size: 20px;
}
.category h5{
    font-size: 15px;
}
.category h5 a {
    color: #888;
}
.category h5 a:hover {
    color: #555;
}
.pi-main{
    padding-top: 30px;
}
.srch-name h3{
    font-size: 25px;
}
.product-item{
    background-color: #fff;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.percent{
    padding-left: 170px;
    display: inline-block;
}
.product-item h6{
    padding-top: 20px;
    font-size: 15px;
}
.product-item p{
    font-size: 10px;
}
.product-item h4{
    font-size: 10px;
    display: inline-block;
    color: #909090;
}
.product-item a{
    font-size: 10px;
    background-color: #ec7a5c;
    padding: 5px 10px;
    margin-left: 20px;
    font-weight: bold;
    color: #fff;
}
.product-item p span {
    padding-left: 100px;
}
.stars{
    font-size: 12px;
color: #ec7a5c;
}

.product-item:hover{
    box-shadow: 0 1px 6px #ec7a5c;
    transform: scaleZ(2);
    -webkit-transform: scaleZ(2);
    -moz-transform: scaleZ(2);
    -ms-transform: scaleZ(2);
    -o-transform: scaleZ(2);
}
.view{
    padding-top: 100px;
  
}
.view a{
    color: #ec7a5c;
}
/*================================Suggested===================*/
#Suggested{
    padding-top: 50px;
    padding-bottom: 50px;

}
.sg-head{
    padding-bottom: 40px;
}
.suggested-item{
    background-color: #f1f1f1;
    padding: 10px 20px;
    margin-bottom: 20px;
}